#register{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 88%;
    height: 94%;
}

.back{
    width: 100%;
    padding-left: 2%;
    font-size: 16px;
    text-align: left;
    margin-top: 25px;
    height: 25px;
    line-height: 25px;
}

.back .icon:hover{
    background-color: rgba(0,0,0,0.1);
    cursor: pointer;
}