#tool-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 8vw;
  height: 30px;
  position: absolute;
  top: 0;
  right: 10px;
}

#tool-btn .btn:hover {
  background: rgba(0, 0, 0, 0.1);
}